<div class="container text-center">

  <h4>店舗新規登録</h4>



  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "cafe/shared/error_messages", resource: resource %>

    <div class="field mt-4">
      <%= f.label :店舗名 %><br />
      <%= f.text_field :cafe_name, size: 30 %>
    </div>

    <div class="field mt-4">
      <%= f.label :店舗電話番号 %><br />
      <%= f.text_field :phone_number, size: 30 %>
    </div>

    <div class="field mt-4">
      <%= f.label :店舗住所 %><br />
      <%= f.text_field :address, size: 30 %>
    </div>


    <div class="field mt-4">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 30 %>
    </div>

    <div class="field mt-3">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>（<%= @minimum_password_length %> 文字以上）</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", size: 30 %>
    </div>

    <div class="field mt-3">
      <%= f.label :パスワード（確認用） %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 30 %>
    </div>

    <div class="actions mt-3">
      <%= f.submit "新規登録", class: "btn btn-sm btn-primary mt-3" %>
    </div>
  <% end %>

  <%#= render "cafe/shared/links" %>

  <div class = "m-5">
    <%= link_to "ユーザー新規登録はこちら", new_user_registration_path %>
  </div>

</div>
