<h2>店舗基本情報</h2>


    <table>

      <thead>
        <th>店名</th>
        <th>電話番号</th>
        <th>住所</th>
        <th>メールアドレス</th>
        <th>営業時間</th>
        <th>定休日</th>
        <th>支払い方法</th>
        <th>喫煙・禁煙</th>
        <th>カフェ紹介文</th>
        <th>備考</th>
      </thead>

      <tbody>
        <td><%= @cafe.cafe_name %></td>
        <td><%= @cafe.phone_number %></td>
        <td><%= @cafe.address %></td>
        <td><%= @cafe.email %></td>
        <td><%= @cafe.business_hour %></td>
        <td><%= @cafe.fixed_holiday %></td>
        <td><%= @cafe.payment_method %></td>
        <td><%= @cafe.smoking %></td>
        <td><%= @cafe.introduce %></td>
        <td><%= @cafe.remarks %></td>
      </tbody>


     <%= link_to "編集する", edit_cafe_cafe_path(@cafe) %>




    </table>