<div class="container text-center" style="margin-bottom: 30%;">

   <!--バリデーションの設定-->
  <% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <!---->

  <h3 class="mt-5">会員情報編集</h3>

  <%= form_with model: @user, url: users_path, method: :patch do |f| %>

    <table class="table mt-5">
      <tr>
        <th>ユーザー名<span class="badge bg-danger">必須</th>
        <td><%= f.text_field :username, size: 40 %></td>
      </tr>
      <tr>
        <th>メールアドレス<span class="badge bg-danger">必須</th>
        <td><%= f.email_field :email, size: 40 %></td>
      </tr>
    </table>
    <div class="mt-5">
      <%= f.submit "変更を保存", class: "btn btn-primary" %>
    </div>
  <% end %>

</div>