<div class="container text-center">
  <div class="row">
    <div class="col-12">
       <!--バリデーションの設定-->
      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <!---->

      <h3 class="mt-5">会員情報編集</h3>

      <%= form_with model: @user, url: users_path, method: :patch do |f| %>

        <div class="field mt-4">
          <%= f.label :username, "ユーザー名(必須)" %><br />
          <%= f.text_field :username, size: 30 %>
        </div>
        <div class="field mt-4">
          <%= f.label :email, "メールアドレス(必須)" %><br />
          <%= f.email_field :email,  size: 30 %>
        </div>
        <div class="mt-5">
          <%= f.submit "変更を保存", class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>