<div class="container mb-5">

  <h4>メニュー新規登録</h4>

  <!--バリデーションの設定-->
  <% if @menu.errors.any? %>
    <%= @menu.errors.count %>件のエラーが発生しました
    <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <!---->


  <%= form_with model:@menu, url: cafe_menus_path do |f| %>
    <table class="table mt-3">
      <tr>
        <th>メニュー名<span class="badge bg-danger ml-2">必須</th>
        <td><%= f.text_field :menu_name, placeholder: "例）モンブラン" %></td>
      </tr>
      <tr>
        <th>税込価格</th>
        <td><%= f.text_field :price, placeholder: "例）600" %>円<br /></td>
      </tr>
      <tr>
        <th>メニュー画像</th>
        <td><%= f.file_field :image, placeholder: "メニュー画像", accept: "image/*" %></td>
      </tr>
    </table>
    <div class="mb-5">
      <%= f.submit "新規作成する", class: "btn btn-sm btn-primary mt-3" %>
    </div>
  <% end %>

  <h4 class="mt-5">メニュー一覧</h4>

  <table class="table mt-3">

    <thead>
      <tr>
        <th>メニュー画像</th>
        <th>メニュー</th>
        <th>税込価格</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td>
           <%= image_tag menu.get_image(100,100) %>
          </td>
          <td>
            <%= menu.menu_name %>
          </td>
          <td>
            <%= menu.price %>円
          </td>
          <td>
            <%= link_to "編集", edit_cafe_menu_path(menu.id), class: "btn btn-primary" %>
          </td>
          <td>
            <%= link_to "削除", cafe_menu_path(menu.id), method: :delete, class: "btn btn-outline-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>