<!DOCTYPE html>
<html>
  <head>
    <title>Cafie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--gonを読み込み-->
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8.4.4/swiper.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footerFixed">
    <header class="text-center mb-5">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><%= image_tag('logo2.png') %></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <% if cafe_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_cafe_session_path, method: :delete, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "メニュー一覧", cafe_menus_path, class: "nav-link"  %>
                </li>
                <li class="nav-item">
                  <%= link_to "店舗基本情報", cafe_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link" %>
                </li>
              <% elsif user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", users_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "カフェを検索", cafes_path, data: {"turbolinks"=>false}, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "カフェを検索", cafes_path, data: {"turbolinks"=>false}, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="ms-auto">
            <% if user_signed_in? %>
              ようこそ、<%= current_user.username %>様
            <% elsif cafe_signed_in? %>
              ようこそ、<%= current_cafe.cafe_name %>様
            <% end %>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>


    <footer class="bg-dark text-white pt-5 pb-4 w-100" >
      <p class="copyright text-center" style="text-white">&copy; 2022 sakai All rights reserved</p>
    </footer>
    </div>
  </body>
</html>
