<!DOCTYPE html>
<html>
  <head>
    <title>Cafie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--gonを読み込み-->
    <%= include_gon %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if cafe_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "メニュー一覧", cafe_menus_path %>
        </li>
        <li>
          <%= link_to "店舗基本情報", cafe_path %>
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "カフェを検索", cafes_path %>
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>



      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
